﻿@model DemoMigration.Components.CategoryMenuViewModel

@if (Model.InRaLi.Count>0)
{
    @foreach (var category in Model.InRaLi)
    {
        <li class="nav-item">
            <a class="nav-link text-dark">@category.Name</a>
        </li>
    }
}
@if(Model.DropDownList.Count>0)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @foreach (var item in Model.DropDownList)
            {
                <a class="dropdown-item" href="#">@item.Name</a>
            }
        </div>
    </li>
}
