﻿@model List<string>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a class="list-group-item list-group-item-action" asp-action="SearchByPrice" asp-controller="Search" asp-route-price="@item" asp-area="">@item</a>
    }
</div>

